.todo-content {
    width: 450px;
    margin: 0 auto;
    border-bottom: 1px solid;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    position: relative;
}
.todo-children {
    margin: 0;
    padding: 0;
    height: 30px;
    
}
.btn-all {
    position: absolute;
    right: 0;
}
.btn {
    margin-left: 10px;
}
